asgiref==3.8.1
channels==4.2.2
channels_redis==4.2.1
colorama==0.4.6
Django==5.2.1
django-browser-reload==1.18.0
django-countries==7.6.1
django-jazzmin==3.0.1
msgpack==1.1.1
pillow==11.2.1
qrcode==8.2
redis==6.2.0
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
gunicorn
whitenoise
STATICFILES_STORAGE = 'whitenoise.storage.CompressedManifestStaticFilesStorage'