 <footer class="relative border-t bg-black border-zinc-800 h-100 md:h-70 overflow-hidden" >
    {% comment %} <img src="/static/images/background/green.png" alt="" class="object-fill w-full h-200 translate-y-10 md:-translate-y-20 " > {% endcomment %}
    <div class="absolute inset-0 z-1 w-full h-full grid grid-rows-2 md:grid-cols-2 text-white p-4 md:p-10 text-xs md:text-sm font-light" >
        <div class='flex flex-col md:justify-between  gap-2' >
            <div class="w-20 h-20  " >
                <img src="/static/icons/favicon.png" alt="" class="object-cover w-full h-full scale-130" >
            </div>
            <h2 class="text-2xl md:text-4xl font-bold">Servexpress</h2>
            <p>&copy; 2024 Servexpress. All rights reserved.</p>
        </div>
        <div class="grid grid-cols-3" >
            <div class='flex flex-col gap-2 md:gap-4' >
                <h2 class="font-semibold text-sm md:text-lg " >Quick links</h2>
                <a href="" class="hover:text-chartreuse" >Platform</a>
                <a href="" class="hover:text-chartreuse" >Solutions</a>
                <a href="" class="hover:text-chartreuse" >Resources</a>
            </div>
            <div class='flex flex-col gap-2 md:gap-4' >
                <h2 class="font-semibold text-sm md:text-lg " >Support</h2>
                <a href="" class="hover:text-chartreuse" >Help Center</a>
                <a href="" class="hover:text-chartreuse" >Contact</a>
                <a href="" class="hover:text-chartreuse" >Terms of Service</a>
                <a href="" class="hover:text-chartreuse" >Privacy Policy</a>
                <a href="" class="hover:text-chartreuse" >Security</a>
            </div>
            <div class='flex flex-col gap-2 md:gap-4' >
                <h2 class="font-semibold text-sm md:text-lg " >Social links</h2>
                <a href="https://facebook.com/" target="_blank" class="hover:text-chartreuse flex items-center gap-2">
                     Facebook
                </a>
                <a href="https://twitter.com/" target="_blank" class="hover:text-chartreuse flex items-center gap-2">
                     Twitter
                </a>
                <a href="https://instagram.com/" target="_blank" class="hover:text-chartreuse flex items-center gap-2">
                     Instagram
                </a>
                <a href="https://linkedin.com/" target="_blank" class="hover:text-chartreuse flex items-center gap-2">
                     LinkedIn
                </a>
                <a href="https://youtube.com/" target="_blank" class="hover:text-chartreuse flex items-center gap-2">
                     YouTube
                </a>

            </div>
        </div>

    </div>
</footer>