{% extends "admin_app/base.html" %}

{% block content %}
<div class="p-5">
    <h1 class="font-semibold text-2xl" >Edit User Info</h1>
    <form method="post" novalidate class="w-full md:w-150 h-full" >
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <div class="mt-5 grid grid-rows-2 md:grid-cols-2 gap-5" >
            <div>
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div>
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
        </div>
        <div class="mt-5 grid grid-rows-2 md:grid-cols-2 gap-5" >
            <div>
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
            </div>
            <div>
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </div>
        </div>
        <div class="mt-5 grid grid-rows-2 md:grid-cols-2 gap-5" >
            <div>
                {{ form.gender.label_tag }}
                {{ form.gender }}
            </div>
            <div>
                {{ form.role.label_tag }}
                {{ form.role }}
            </div>
        </div>
        <div class="mt-5 grid grid-rows-2 md:grid-cols-2 gap-5" >
            <div>
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div>
                {{ form.confirm_password.label_tag }}
                {{ form.confirm_password }}
            </div>
        </div>
        <button type="submit" class="mt-10 bg-black text-chartreuse hover:bg-stone-900 cursor-pointer rounded-xl px-6 py-3 flex gap-2"  >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-pen-icon lucide-user-pen"><path d="M11.5 15H7a4 4 0 0 0-4 4v2"/><path d="M21.378 16.626a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z"/><circle cx="10" cy="7" r="4"/></svg>
            Update
        </button>
    </form>
</div>
{% endblock %}