<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>
    <link rel="stylesheet" href="/static/css/output.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/icons/serveXpress_64.svg">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    

</head>
<body class="dark:bg-black bg-white transition-colors font-rubik h-screen " >
    {% include "partials/message_dialog.html" %}
    {% block content %}
    
    {% endblock  %}
    <script>
        const toggle = document.getElementById('dark-mode-toggle');
        toggle.addEventListener('click', () => {
            if (document.documentElement.classList.contains('dark')) {
                document.documentElement.classList.remove('dark');
                localStorage.setItem('theme', 'light');
            } else {
                document.documentElement.classList.add('dark');
                localStorage.setItem('theme', 'dark');
            }
        });
        // On load, set theme from localStorage
        if (localStorage.getItem('theme') === 'dark') {
            document.documentElement.classList.add('dark');
        }
    </script>
</body>
</html>