{% extends "base.html" %}
{% load class_filter %}
{% block content %}
<div class="p-8 py-6 w-full flex justify-center items-center h-screen" >
    <a href={% url "home" %} >
    <button class=" cursor-pointer items-center  text-black rounded-full absolute top-4 left-4  z-10" >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left-icon lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
    </button>
    </a>
    <div class="pages flex flex-col  justify-between  w-90 gap-3 items-center  h-full    p-2 rounded-xl" >
        <div>
            <h2 class="text-2xl font-medium justify-self-start" >User Information</h2>
        </div>
        <div class="relative" >
            <div class=" rounded-full overflow-hidden w-50  h-50" >
                {% if not request.user.profile_picture %}
                    {% if user.gender == "male" %}
                        <img src="/static/images/default_profile.png" alt="" class="object-cover w-full h-full" >
                    {% elif user.gender == "female" %}
                        <img src="/static/images/default_profile_pic.png" alt="" class="object-cover w-full h-full" >
                    {% endif %}
                {% else %}
                    <img src="{{  request.user.profile_picture.url }}" alt="" class="object-cover w-full h-full" >
                {% endif %}
            </div>
            <div class="p-3 rounded-full bg-chartreuse absolute bottom-4 border-4 shadow md:shadow-none border-white right-4" >
            </div>
        </div>
        <div class="flex flex-col items-center" >
            <span class=" font-medium text-xl" >
                {{request.user.username}}
            </span>
            <span class="col-span-2  text-stone-700 text-sm" >
                {{request.user.email}}
            </span>
        </div>
        <div class="grid grid-rows-2 w-full " >
            <span class=" text-stone-700 text-sm" >
                Joined in:
            </span>
            <span class=" text-lg" >
                {{request.user.date_joined}}
            </span>
        </div>
        <div class="grid grid-cols-2 w-full " >
            <div class="flex flex-col  w-full" >
                <span class="text-stone-700 font-medium text-sm" >
                    First Name
                </span>
                <span class="font-medium text-lg" >
                    {{request.user.first_name}}
                </span>
            </div>
            <div class="flex flex-col  w-full border-l pl-4 border-stone-300" >
                <span class="text-stone-700 font-medium text-sm" >
                    Last Name
                </span>
                <span class="font-medium   text-lg" >
                    {{request.user.last_name}}
                </span>
            </div>

        </div>
        <div class="grid grid-cols-2 w-full" >
            <div class="flex flex-col  w-full" >
                <span class="text-stone-700 font-medium text-sm" >
                    Gender
                </span>
                <span class="font-medium capitalize text-lg" >
                    {{request.user.gender}}
                </span>
            </div>
            <div class="flex flex-col  w-full border-l pl-4 border-stone-300" >
                <span class="text-stone-700 font-medium text-sm " >
                    Role
                </span>
                <span class="font-medium  capitalize text-lg" >
                    {{request.user.role}}
                </span>
            </div>
        </div>
        <div class="flex w-full" >
            <button onClick="nextPage()" class="bg-black rounded-lg px-6  py-2 text-white flex gap-2 cursor-pointer hover:text-chartreuse transition-colors " >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-pen-icon lucide-user-pen"><path d="M11.5 15H7a4 4 0 0 0-4 4v2"/><path d="M21.378 16.626a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z"/><circle cx="10" cy="7" r="4"/></svg>
                Edit Profile
            </button>
        </div>
    </div>
    <form method="post" class="pages flex flex-col justify-between  w-90 gap-3 h-full  px-4 p-2 rounded-xl" >
        {% csrf_token %}
        <h2 class="text-2xl font-medium" >Edit profile</h2>
        <div>
            {{profile_form.username.label_tag}}
            {{profile_form.username}}
        </div>
        <div class="grid grid-cols-2 gap-4" >
            <div>
                {{profile_form.first_name.label_tag}}
                {{profile_form.first_name}}
            </div>
            <div>
                {{profile_form.last_name.label_tag}}
                {{profile_form.last_name}}
            </div>
        </div>
        <div class="grid grid-cols-2 gap-2 " >
            <div>
                {{profile_form.gender.label_tag}}
                {{profile_form.gender}}
            </div>
            <div>
                
                {{profile_form.role.label_tag}}
                {{profile_form.role}}
            </div>
        </div>
        <div class="flex flex-col gap-2" >
            {{profile_form.crypto_wallet_address.label_tag}}
            {{profile_form.crypto_wallet_address|add_class:"h-20 bg-gray-200 resize-none p-2 rounded-lg outline-offset-3 border border-gray-400  focus:border-lime-500 outline-lime-200"}}
        </div>
        <div class="flex justify-between  w-full" >
            <button type="button" onClick="backPage()" class="bg-black rounded-lg px-6  py-2 text-white flex gap-2 cursor-pointer hover:text-chartreuse transition-colors " >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left-icon lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
                Back
            </button>
            <button type="submit" class="bg-black rounded-lg px-6  py-2 text-white flex gap-2 cursor-pointer hover:text-chartreuse transition-colors " >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-pen-icon lucide-user-pen"><path d="M11.5 15H7a4 4 0 0 0-4 4v2"/><path d="M21.378 16.626a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z"/><circle cx="10" cy="7" r="4"/></svg>
                Submit
            </button>
        </div>
    </form>
</div>

<script>
    const pages = document.querySelectorAll(".pages")
    let currentPage = 0

    function updatePage() {
        pages.forEach((page, index) => {
            const isActive = index === currentPage
            page.classList.toggle("animate-swoop-in", isActive)
            page.classList.toggle("animate-swoop-out", !isActive)
            page.classList.toggle("hidden", !isActive)
        })
    }

    function nextPage() {
        currentPage++
        updatePage()
    }

    function backPage() {
        currentPage--
        updatePage()
    }

    updatePage()

</script>
{% endblock  %}
